//variables

//colors
/* primary */
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

//import font
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

//Font
$josefin: 'Josefin Sans', sans-serif;
$alata:'Alata', sans-serif;


//global
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 15px;
}

a{
    text-decoration: none;
    color: white;
}

//header
@import "./header";

@import "./main-one";

@import "./main-two";

//Media-query
@media screen and (min-width: 325px){
    #head-container{

        #content-container{

            #menus{
                display: none;
            }

            #hamburger{
                display: block;
            }
        }
    }
}

@media screen and (min-width: 1000px){
    #head-container{

        #content-container{

            #menus{
                display: block;
            }

            #hamburger{
                display: none;
            }
        }
    }
}