/* primary */
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: white;
}

#head-container {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 1, 0.438))), url("/images/desktop/image-hero.jpg");
  background: linear-gradient(90deg, rgba(0, 0, 1, 0.438) 0%), url("/images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

#head-container #content-container {
  width: auto;
  padding: 4rem 12%;
  margin: 0 auto;
}

#head-container #content-container #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#head-container #content-container #nav #menus {
  font-family: "Alata", sans-serif;
  font-size: clamp(0.5rem, 2vw, 1rem);
}

#head-container #content-container #nav #menus .menu:not(:last-child) {
  margin-right: 2rem;
}

#head-container #content-container #nav #menus .menu {
  position: relative;
  padding-bottom: 10px;
}

#head-container #content-container #nav #menus .menu::after {
  content: '';
  background: white;
  width: 50%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 11.5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  display: block;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

#head-container #content-container #nav #menus .menu:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#head-container #content-container #head-content {
  border: 2px solid white;
  width: 60%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  min-height: 10vh;
  margin-top: 17%;
}

#head-container #content-container #head-content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 4rem;
  padding: 5% 5%;
}

#head-container #content-container #hamburger .btn {
  background: none;
  border: none;
  cursor: pointer;
}

#head-container #content-container #hamburger .btn #hamburger-icon {
  color: white;
  font-size: 2rem;
}

#main-container #content-one {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4rem 12%;
}

#main-container #content-one #content-desc {
  background-color: white;
  position: absolute;
  right: 0;
  bottom: -2rem;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  width: 550px;
  padding: 4.5rem 5rem 3.5rem 5rem;
}

#main-container #content-one #content-desc h2 {
  font-size: 2.5rem;
  padding-bottom: 1.4rem;
  text-transform: uppercase;
}

#content-two {
  margin: 11rem 12%;
  border: 2px solid red;
}

#content-two #creations-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-two #creations-title h1 {
  font-size: 2.5rem;
}

#content-two #creations-title .btn {
  background: white;
  border: 2px solid black;
  padding: .6rem 2.7rem;
  font-size: 1.1rem;
  letter-spacing: 5px;
  font-family: 'Alata', sans-serif;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

#content-two #creations-title .btn:hover {
  background: black;
  color: white;
}

#content-two #grid-contents {
  margin-top: 4rem;
}

#content-two #grid-contents .grid-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  width: 100%;
}

#content-two #grid-contents .grid-content .content {
  position: relative;
  width: 100%;
  height: 50vh;
  color: white;
}

#content-two #grid-contents .grid-content .content p {
  position: absolute;
  bottom: 0;
  font-size: 2rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

#content-two #grid-contents .grid-content .one {
  background-image: url("/images/desktop/image-deep-earth.jpg");
  background-repeat: no-repeat;
}

#content-two #grid-contents .grid-content .two {
  background-image: url("/images/desktop/image-night-arcade.jpg");
  background-repeat: no-repeat;
}

#content-two #grid-contents .grid-content .three {
  background-image: url("/images/desktop/image-soccer-team.jpg");
  background-repeat: no-repeat;
}

#content-two #grid-contents .grid-content .four {
  background-image: url("/images/desktop/image-grid.jpg");
  background-repeat: no-repeat;
}

#content-two #grid-contents .grid-content .five {
  background-image: url("/images/desktop/image-from-above.jpg");
  background-repeat: no-repeat;
}

#content-two #grid-contents .grid-content .six {
  background-image: url("/images/desktop/image-pocket-borealis.jpg");
  background-repeat: no-repeat;
}

#content-two #grid-contents .grid-content .seven {
  background-image: url("/images/desktop/image-curiosity.jpg");
  background-repeat: no-repeat;
}

#content-two #grid-contents .grid-content .eight {
  background-image: url("/images/desktop/image-fisheye.jpg");
  background-repeat: no-repeat;
}

@media screen and (min-width: 325px) {
  #head-container #content-container #menus {
    display: none;
  }
  #head-container #content-container #hamburger {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  #head-container #content-container #menus {
    display: block;
  }
  #head-container #content-container #hamburger {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */